.personal.show_block
  .label Персональная информация
  .show_block_wrapper
    .photo
      =photo_preview @user.photo, :face=>true
    %table
      %tr
        %td ФИО
        %td.light=@user.name
        %td Прозвище
        %td.light=@user.nickname
      %tr
        %td Роль
        %td.light=@user.role
        %td День рождения
        %td.light=@user.birthday
      %tr
        %td Водительское удостоверение
        %td.light=@user.driver_license
        %td Професия
        %td.light=@user.occupation
      %tr
        %td Город
        %td.light=@user.city
        %td Адрес
        %td.light=@user.address
      %tr
        %td Паспорт
        %td.light=@user.passport
        %td Выдан
        %td.light=@user.passport_authority


.conracts.show_block
  .label Контакты
  .show_block_wrapper
    %table.wider
      %tr
        %td Мобильный телефон
        %td.light.w=@user.phone_mobile
        %td Домашний телефон
        %td.light.w=@user.phone_home
      %tr
        %td Skype
        %td.light.w=@user.skype
        %td ICQ
        %td.light.w=@user.icq
      %tr
        %td Email
        %td.light.ew{:colspan=>3}=@user.email
      %tr
        %td Другие контакты
        %td.light.ew{:colspan=>3}=@user.another_contacts

    %table.wider
      %tr
        %td Супруг(а)
        %td.light=@user.spouse
        %td Телефон
        %td.light=@user.spouse_phone
      %tr
        %td Отец
        %td.light=@user.father
        %td Телефон
        %td.light=@user.father_phone
      %tr
        %td Мать
        %td.light=@user.mother
        %td Телефон
        %td.light=@user.mother_phone

.vehicle.show_block
  .label Мотоцикл
  .show_block_wrapper
    .photo
      =photo_preview @user.vehicle_photo
    %table
      %tr
        %td Мотоцикл
        %td.light=@user.vehicle
        %td Номерной знак
        %td.light=@user.vehicle_plate
      %tr
        %td Год выпуска
        %td.light=@user.vehicle_year
        %td Тех. паспорт
        %td.light=@user.vehicle_license
      %tr
        %td VIN
        %td.light=@user.vehicle_vin
